<footer class="site-footer">
  <div class="container">
<div class="col-xs-12">
<p align="center" style="font-size: 30px;">
<a href="http://twitter.com/itibz" class="icon-link" alt="@iTibz on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="http://facebook.com/itibz" class="icon-link" alt="@iTibz on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
<a href="http://instagram.com/itibz" class="icon-link" alt="@iTibz on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href="http://snapchat.com/add/itibz" class="icon-link" alt="@iTibz on Snapchat"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
<a href="http://branded.me/tibz" class="icon-link" alt="My work portfolio"><i class="fa fa-briefcase" aria-hidden="true"></i>
</a>
<a href="http://digest.digital" class="icon-link" alt="Digital Digest podcast"><i class="fa fa-microphone" aria-hidden="true"></i>
</a>
<a href="https://www.mixcloud.com/tibz/playlists/tibz-mix/" class="icon-link" alt="Audio Inspiration"><i class="fa fa-headphones" aria-hidden="true"></i>
</a></p><br> </div>
    
    <div class="col-xs-12">
      {{ site.footer }}
    </div>
  </div>
</footer>
