<header class="site-header">
  <div class="site-header__inner">
    <div class="site-info">
      {% if site.logo %}
        <h1 class="site-logo"><a href="/"><svg width="170px" height="68px" viewBox="12 61 170 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 
<desc>Thibault Lemaitre</desc>
<defs></defs>
<text id="Tibz.co" stroke="none" fill="none" font-family="NoticiaText-Regular, Noticia Text" font-size="50" font-weight="normal">
<tspan x="17.3613281" y="115" fill="#BADA8D">Tibz.co</tspan>
</text>
</svg></a></h1>
      {% else %}
        <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
      {% endif %}
      
      <div class="site-description">{{ site.description }}</div>
    </div>

    {% if site.navigation %}
      <a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a>

      <nav class="site-navigation">
        <ul>
          {% for item in site.navigation %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
          <li><a href="https://twitter.com/messages/compose?recipient_id=33493226" class="twitter-dm-button" data-screen-name="itibz" data-show-count="false">Message @itibz</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        </ul>
      </nav>
    {% endif %}
  </div>
</header>
