{% extends 'partials/base.html' %}

{% block title %}
  {{ super() }}

  {{ meta.title }} &middot; {{ site.title }}
{% endblock title %}

{% block content %}
  {{ super() }}

  <div class="container">
    <article class="post page">
      <h1 class="page-title">{{ error.title }} ({{ error.status_code }})</h1>
<img src="https://themes.typed.com/c847c9a5-930b-475d-8137-4a327631594e/assets/img/oopsie.gif">
      <div class="content">
        {{ error.message }}
      </div>
    </article>
  </div>
{% endblock content %}
